<body class="nav-md">

    <div class="container body">
        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="glyphicon glyphicon-education"></i> <span> EGREX</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- USER INFO -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="images/user_img/{{user.user_session_id}}.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>{{user.nombre}} {{user.apellidos}}</h2>
                        </div>
                    </div>
                    <!-- /USER INFO -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <!-- ROL NAME -->
                            <h3>Asesor </h3>
                            <br>
                            <ul class="nav side-menu">
                               <li><a><i class="fa fa-home"></i> Menú <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="/asesor">Inicio</a>
                                        <li><a href="/asesor_evaluar">Gestión del desempeño laboral</a>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/user_img/{{user.user_session_id}}.jpg" alt=""> {{user.nombre}} {{user.apellidos}}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Desconectar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title">
                            <h3>Gestión del desempeño laboral de los egresados</h3>
                            <br>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Tabla del desempeño laboral de los egresados</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">
                                                <th>
                                                </th>
                                                <th>Nombre </th>
                                                <th>Apellidos </th>
                                                <th>Ubicación Laboral </th>
                                                <th>Evaluación General
                                                    <th class=" no-link last"><span class="nobr">Informe de Desempeño</span>
                                                    </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {{#each table}}
                                            <tr class="even pointer ">
                                                <td class="a-center ">
                                                    <input type="checkbox" name="table_records" value="{{userid}}" class="tableflat">
                                                </td>
                                                <td class=" ">{{nombre}}</td>
                                                <td class=" ">{{apellidos}}</td>
                                                <td class=" ">{{ubicacion_laboral}}</td>
                                                <td class=" ">{{evaluacion}}</td>
                                                <td class=" last">{{Informe}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Editar la evaluación del egresado <small> </small></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content collapse collapsable">
                                    <br />
                                    <form id="demo-form" data-parsley-validate action="" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Evaluación General <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                      <input id="user_id_input" type="text" style="display: none;" name="a_userid" value="">
                                                      <input type="text" id="evaluacion" name="evaluacion" required data-parsley-required-message="Este campo es requerido"  data-parsley-pattern="^Bien$|^Mal$|^Regular$" data-parsley-pattern-message="La evaluación es incorrecta" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Informe del Desempeño</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="desemp_file" name="archivoPDF" accept="application/pdf" required data-parsley-required-message="Debe subir una plantilla para continuar" class="form-control col-md-7 col-xs-12" type="file" name="middle-name">
                                            </div>
                                        </div>
                                       <input id="user_id_input_2" type="text" style="display: none;" name="userid" value="">
                                       <div> <input id="delete_input" type="hidden" name="delete" value="false"></div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <a id="delete_btn" onclick="showDialog()" class="btn btn-danger">Eliminar</a>
                                                <button id="submit_btn" type="submit" class="btn btn-success">Guardar cambios</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Informe del Desempeño<small> </small></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content collapse collapsable_b">
                                <div id="alerts"></div>
                                    <iframe id="pdf" src="" width="100%" height="600px"></iframe>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <a id="pdf-link" href="" download class="btn btn-primary">Exportar</a>
                                    </div>
                                </div>
                                <br />
                                <div class="ln_solid"></div>
                            </div>
                        </div>
                    </div>
                    <!-- footer content -->
                    <footer>
                        <div class="">
                            <p class="pull-right"> Sistema de Gestión de Egresados de la Facultad 4 de la <a href="https://www.uci.cu">UCI</a> <a href="mailto:stephanhp@estudiantes.uci.cu;ransetmv@estudiantes.uci.cu;osmanibm@estudiantes.uci.cu"> Equipo de Ingeniería de Software II</a>.
                                <span class="lead"> <i class="glyphicon glyphicon-education"></i> EGREX</span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
                <!-- /page content -->
            </div>
        </div>

        <script>
            var asInitVals = new Array();
            $(document).ready(function() {
                var oTable = $('#example').dataTable({
                    "oLanguage": {
                        "sEmptyTable": "No hay datos para mostrar",
                        "sSearch": "Búsqueda rápida:"
                    },
                    "aoColumnDefs": [{
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
                    ],
                    'iDisplayLength': 4,
                    "sPaginationType": "full_numbers",
                    "dom": 'T<"clear">lfrtip',
                    drawCallback: function(settings) {
                     $('select[name="example_length"]').prepend('<option value="4">4</option>');
                     $('select[name="example_length"]').val( settings._iDisplayLength );
                     }
                });
                $("tfoot input").keyup(function() {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function(i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function() {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function(i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            });
        </script>

        <!-- textarea resize -->
        <script>
            autosize($('.resizable_textarea'));
        </script>
        <!-- Manipular datos -->
        <script>
            $(document).ready(function() {
                // Obtiene una referencia a todos los checkboxes de la tabla
                var checkboxes = $('input[name="table_records"]');
                const $panel = $('.collapsable');
                const $panel_b = $('.collapsable_b');
                // Escucha el evento click en los checkboxes
                checkboxes.on('click', function() {
                        $panel_b.removeClass('show').addClass('collapse');
                        $panel.removeClass('show').addClass('collapse');
                        $('#submit_btn').show();
                        $('#delete_btn').show();
                    // Si el checkbox está seleccionado, desmarca los demás checkboxes y rellenar form
                    if ($(this).prop('checked')) {
                        $panel.removeClass('collapse').addClass('show');
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i] !== this) {
                                checkboxes[i].checked = false;
                            }
                        }
                        const $fila = $(this).closest('tr');
                        const id = $(this).val();
                        const eval = $fila.find('td:nth-of-type(5)').text();
                        const informe = $fila.find('td:nth-of-type(6)').text();
                        $('#user_id_input').val(id);
                        $('#user_id_input_2').val(id);
                        if (eval === 'Ninguna') { $('#evaluacion').val(eval); } else { $('#evaluacion').val(''); }
                        if (informe === 'Archivado'){
                         //   $('#submit_btn').hide();
                         //  $('#delete_input').val('true');
                            $('#desemp_file').prop('required', false);
                            $('#evaluacion').prop('required', false);
                            const pdfSrc = 'upload/informes/Plantilla_' + id + '.pdf';
                            $('#pdf').attr('src', pdfSrc);
                            $('#pdf-link').attr('href', pdfSrc);
                            $panel_b.removeClass('collapse').addClass('show');
                        } else {
                            $('#delete_btn').hide();
                          //  $('#delete_input').val('false');
                        }
                    } else {
                        $panel_b.removeClass('show').addClass('collapse');
                        $panel.removeClass('show').addClass('collapse');
                        $('#delete_btn').show();
                    }
                });
            });
        </script>

        <!-- form validation -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#demo-form').parsley();
            });
        </script>
        <!-- /form validation -->
       
        <script>
            function showDialog() {
                    Swal.fire({
                        title: '¿Estás seguro que deseas eliminar los datos del egresado?',
                        text: 'Se perderán todos los datos relacionados con la evaluación del egresado',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Eliminar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Si el usuario hizo clic en "Sí, enviar", enviar el formulario
                            $('#delete_input').val('true');
                            document.querySelector('form').submit();
                        }
                    });
            }
        </script>
</body>
